* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  background-color: #361759;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow: hidden;
}
#navbar {
  color: #b0a0e2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  /* margin */
}
a {
  color: #b0a0e2;
  text-decoration: none;
}
#login {
  color: #b0a0e2;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 12px;
  width: 90px;
  height: 30px;
}
.leftbox {
  margin: 10%;
}
.line {
  /* position: absolute; */
  right: 74%;
  bottom: 65%;
}
p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#start {
  color: white;
  background-color: #d82274;
  color: white;
  margin-top: 10px;
  border: 0;
  border-radius: 12px;
  width: 140px;
  height: 30px;
}
.main {
  display: flex;
}
.rightbox {
  position: relative;
  height: 250px;
}
.rightbox img {
  position: absolute;
}
.plant {
  top: 20rem;
  width: 110px;
}
.point {
  top: 10rem;
  width: 600px;
}
.rocket {
  top: 15rem;
  width: 350px;
  left: 5rem;
}
.plan {
  left: 30rem;
  top: 15rem;
  width: 110px;
}
.cloud {
  top: 20rem;
  left: -35rem;
}

@media only screen and (max-width:  500px) {
  #navbar{
    gap: 10px;
  }
  .main {
    flex-direction: column;
  }
  .point{
    width: 270px;
    height: 300px;
    margin-left: 50px;
  }
  .plant{
    margin-top: -20px;
  }
  .plan{
    margin-left: -200px;
  }
  .rocket{
    margin-left: -50px;
    width: 300px;
    height: 300px;
  }
  .rightbox{
    margin-top: -145px;
  }
  .cloud{
  height: 260px;
  margin-top: 100px;
  /* width: 400px; */
  }
}
